li {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 900;
    padding: 5px;
}

.html {
    color: #ff0000;
}

.css {
    color: #254bdd;
}

.js {
    color: #efd81d;
}

.react {
    color: #5ed3f3;
}

.tailwind {
    color: #0ea5e9;
}

[id] {
    background-color: green;
}

#para {
    color: white;
    font-size: 20px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding: 5px;
}

#para:hover {
    color: black;
}

[vishvas="coder"] {
    background-color: cadetblue;
}
